@using PagedList
@using PagedList.Mvc
@using Fatura.Entity
@model PagedList.IPagedList<stok>
@using Fatura.BLL

<BR>
@{
    ViewBag.Title = "StokListesi";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<BR>
<BR>
<BR>
<div id="dvStokListesi" class="table-responsive border border-dark w-80 p-3 background-color: #eee;">
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td width="10%"><h3>Stok Listesi</h3></td>
                <td width="30%">
                    @Html.ActionLink("Yeni Stok Ekle", "Yeni", null, new { @class = "btn btn-success mx-3" })
                    @*<a href="javascript:void(0);" class="anchorDetail btn btn-success mx-3" data-id="0">Yeni Stok Ekle</a>*@
                </td>
                <td width="30%">
                    Sayfada
                    @*@Html.TextBox("SayfaKayitSayisi", null, new { style = "width: 50px;" })*@
                    <select id="SayfaKayitSayisi" name="SayfaKayitSayisi">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    kayıt göster.
                </td>
                <td width="30%">
                    Stok adına göre: @Html.TextBox("SearchString", null, new { style = "width: 100px;" })
                    <input type="submit" class=" btn btn-info" value="Ara" />
                </td>
            </tr>
        </table>
    }

    <table class="table table-bordered table-striped table-hover table-condensed" id="dataTable">
        <thead>
            <tr>
                <th style="color:Highlight">Resim</th>
                <th>@Html.ActionLink("Stok Kodu", "StokListesi", new { sortOrder = ViewBag.CodeSortParm, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th>@Html.ActionLink("Stok Adı", "StokListesi", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th>@Html.ActionLink("Tedarik Yeri", "StokListesi", new { sortOrder = ViewBag.TedarikYeriSortParm, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th style="color:Highlight">KDV Oranı</th>
                <th style="color:Highlight">ÖTV Oranı</th>
                <th style="color:Highlight">ÖİV Oranı</th>
                <th style="color:Highlight">GVS Oranı</th>
                <th style="color:Highlight">BTU Oranı</th>
                <th style="color:Highlight">MFV Oranı</th>
                <th style="color:Highlight">SGK Oranı</th>
                <th>@Html.ActionLink("Güncelleme Tarihi", "StokListesi", new { sortOrder = ViewBag.DateSortParm, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                @if (((long)Session["vkn_tckn"]) == Utilities.vknAdmin)
                {
                    <th style="color:Highlight">Silinmiş mi?</th>
                }
                <th style="color:Highlight">İşlemler</th>
                <th style="visibility: hidden;width: 1px">Stok ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stok in Model)
            {
                <tr id="row_@stok.id">
                    <td>
                        @if (stok.resimler != null && stok.resimler != "")
                        {
                            <img src="~/Content/@stok.vkn_tckn/@stok.resimler.Split(',')[0]" width="50" />
                        }
                    </td>
                    <td>@stok.kodu</td>
                    <td>@stok.adi</td>
                    <td>@stok.tedarik_yer_adi</td>
                    <td>@stok.kdv_orani</td>
                    <td>@stok.otv_orani</td>
                    <td>@stok.oiv_orani</td>
                    <td>@stok.gvs_orani</td>
                    <td>@stok.btu_orani</td>
                    <td>@stok.mfv_orani</td>
                    <td>@stok.sgk_orani</td>
                    <td>@stok.last_update.Value.ToShortDateString()</td>
                    @if (((long)Session["vkn_tckn"]) == Utilities.vknAdmin)
                    {
                        <td>
                            @if (stok.isdeleted == true)
                            {
                                @:<label style="color:red">Evet</label>
                            }
                            else
                            {
                                @:Hayır
                            }
                        </td>
                    }
                    <td>
                        <div class="row" style="width:200px;">
                            <div class="col-md-6">
                                @Html.ActionLink("Güncelle", "Guncelle", new { id = stok.id, SayfaNo = ViewBag.SayfaNo, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }, new { @class = "btn btn-success mx-2" })
                            </div>
                            @*<div class="col-md-6">
                                    <a href="javascript:void(0);" class="anchorDetail btn btn-success mx-3" data-id="@stok.id">Güncelle</a>
                                </div>*@
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Sil_@stok.id">
                                    Sil
                                </button>
                                <div class="modal" id="Sil_@stok.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Stok Sil</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Stoğu silmek istiyor musunuz?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary mx-4" data-dismiss="modal">Vazgeç</button>
                                                @Html.ActionLink("Sil", "Sil", new { id = stok.id, SayfaNo = ViewBag.SayfaNo, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }, new { @class = "btn btn-info mx-4" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("StokListesi", "Stok", new { page }))*@
    @*@Html.PagedListPager((IPagedList)Model, _sayfaNo => Url.Action("StokListesi", new { SayfaNo = _sayfaNo }))*@
    @*@Html.PagedListPager(Model, _sayfaNo => Url.Action("StokListesi", "Stok", new { SayfaNo = _sayfaNo }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< İlk", LinkToPreviousPageFormat = "< Önceki", LinkToNextPageFormat = "Sonraki >", LinkToLastPageFormat = "Son >>" })*@
    <div class="row">
        <div class="col-sm-12 col-md-6">
            @*@Html.PagedListPager(Model, _sayfaNo => Url.Action("StokListesi", "Stok", new { SayfaNo = _sayfaNo, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "dvStokListesi1" }))*@
            @Html.PagedListPager(Model, _sayfaNo => Url.Action("StokListesi", "Stok", new { SayfaNo = _sayfaNo, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }))
        </div>
        <div class="col-sm-12 col-md-6">
            <BR>
            Toplam <label id="kayitsayisi" style="font-size:large; color:Highlight">@ViewBag.KayitSayisi</label> kayıt gösteriliyor.
        </div>
    </div>
    <BR>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewBag.Baslik</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id='myModalContent' class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        var mesaj = "@ViewBag.Mesaj";
        if (mesaj == "Silindi")
            toastr_mesaj("Stok başarıyla silindi.", "success", 3000);
        else if (mesaj == "Eklendi")
            toastr_mesaj("Stok başarıyla eklendi.", "success", 3000);
        else if (mesaj == "Guncellendi")
            toastr_mesaj("Stok başarıyla guncellendi.", "success", 3000);
        //var ConfirmDelete = function (id) {
        //    $("#hidden_id").val(id);
        //    $("#myModal").show();
        //}
        //var CariSil = function () {
        //    $("#loaderDiv").show();
        //    var cari_id = $("#hidden_id").val();
        //    $.ajax({
        //        type: "POST",
        //        url: "/Cari/Sil",
        //        data: { id: id },
        //        success: function () {
        //            $("#loaderDiv").hide();
        //            $("#myModal").modal("hide");
        //        }
        //    })
        //}
    });
    //$(document).ready(function () {
    //    $("#btnSubmit").click(function () {

    //    })
    //});
    //var ConfirmDelete = function (id) {
    //    $("#hidden_id").val(id);
    //    $("#myModal").show();
    //}
    //var StokSil = function () {
    //    $("#loaderDiv").show();
    //    var stok_id = $("#hidden_id").val();
    //    $.ajax({
    //        type: "POST",
    //        url: "/Stok/Sil",
    //        data: { id: id },
    //        success: function () {
    //            $("#loaderDiv").hide();
    //            $("#myModal").modal("hide");
    //        }
    //    })
    //}

</script>
@*<script src="~/Scripts/sweetalert.min.js" type="text/javascript"></script>*@
<script>
    var TeamDetailPostBackURL = '/Stok/Guncelle';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            //var cari_id = $("#id").val();
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
</script>
