@using PagedList
@using PagedList.Mvc
@using Fatura.Entity
@model PagedList.IPagedList<fatura_gelen>
@using Fatura.BLL

<BR>
@{
    ViewBag.Title = "GelenFatura";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<BR>
<BR>
<BR>
<div id="dvMukellefListesi" class="table-responsive border border-dark w-80 p-3 background-color: #eee;">
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td width="10%">
                    <span style="font-size:x-large;font-weight:bold">Gelen Faturalar</span>
                </td>
                <td width="1%">
                    <input autocomplete="off" class="form-control date-picker" data-val="true" data-val-date="The field fatura_tarihi must be a date." data-val-required="Başlangıç tarihi alanı gereklidir." id="baslangic" name="baslangic" placeholder="Başlangıç Tarihi" style="width:200px;" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="baslangic" data-valmsg-replace="true"></span>
                </td>
                <td width="1%">
                    <input autocomplete="off" class="form-control date-picker" data-val="true" data-val-date="The field fatura_tarihi must be a date." data-val-required="Başlangıç tarihi alanı gereklidir." id="bitis" name="bitis" placeholder="Bitiş Tarihi" style="width:200px;" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="bitis" data-valmsg-replace="true"></span>
                </td>
                <td width="5%">
                    <input type="button" class="GelenFaturaCek btn btn-success mx-3" data-id="1" value="Gelen Faturaları Al">
                    @*<a href="javascript:void(0);" class="MukellefCek btn btn-success mx-3" data-id="1">Mükellef Listesini Güncelle</a>*@
                    @*@Html.ActionLink("Mükellef Listesini Güncelle", "MukellefListesi", new { id = 1, sortOrder = ViewBag.BelgeNoParm, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }, new { @class = "btn btn-success mx-3" })*@

                </td>
                <td width="10%">
                    Sayfada
                    @*@Html.TextBox("SayfaKayitSayisi", null, new { style = "width: 50px;" })*@
                    <select id="SayfaKayitSayisi" name="SayfaKayitSayisi">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    kayıt göster.
                </td>
                <td width="10%">
                    @Html.TextBox("SearchString", null, new { style = "width: 100px;" })
                    <input type="submit" class=" btn btn-info" value="Ara" />
                </td>
            </tr>
        </table>
    }
    <table class="table table-bordered align-baseline" id="dataTable">
        <thead>
            <tr>
                <th>@Html.ActionLink("Gönderen VKN/TCKN", "GelenFatura", new { sortOrder = ViewBag.VKNSort, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th>@Html.ActionLink("Gönderen Ünvanı", "GelenFatura", new { sortOrder = ViewBag.UnvanSort, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th>@Html.ActionLink("Şehir", "GelenFatura", new { sortOrder = ViewBag.SehirSort, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th style="color:Highlight">Fatura Türü</th>
                <th style="color:Highlight">Belge No</th>
                <th style="color:Highlight">İskonto</th>
                <th style="color:Highlight">Ara Toplam</th>
                <th style="color:Highlight">Vergi Tutarı</th>
                <th>@Html.ActionLink("Meblağ", "GelenFatura", new { sortOrder = ViewBag.MeblagSort, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th style="color:Highlight">Doviz Cinsi</th>
                <th style="color:Highlight">Döviz Kuru</th>
                <th style="color:Highlight">Fatura Notu</th>
                <th>@Html.ActionLink("Fatura Tarihi", "GelenFatura", new { sortOrder = ViewBag.TarihSort, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi })</th>
                <th style="color:Highlight">Durumu</th>
                <th style="color:Highlight">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fatura_gelen in Model)
            {
                <tr>
                    <td>@fatura_gelen.gonderen_vkn</td>
                    <td>
                        @fatura_gelen.gonderen_unvan
                        <input type="hidden" id="gonderen_unvan_@fatura_gelen.id" name="gonderen_unvan_@fatura_gelen.id" value="@fatura_gelen.gonderen_unvan" />
                        <input type="hidden" id="guid_@fatura_gelen.id" name="guid_@fatura_gelen.id" value="@fatura_gelen.guid" />
                    </td>
                    <td>
                        @fatura_gelen.gonderen_sehir
                        <input type="hidden" id="gonderen_sehir_@fatura_gelen.id" name="gonderen_sehir_@fatura_gelen.id" value="@fatura_gelen.gonderen_sehir" />
                    </td>
                    <td>
                        @fatura_gelen.fatura_turu-@fatura_gelen.invoicetypecodetype
                        <input type="hidden" id="fatura_turu_@fatura_gelen.id" name="fatura_turu_@fatura_gelen.id" value="@fatura_gelen.fatura_turu" />
                        <input type="hidden" id="invoicetypecodetype_@fatura_gelen.id" name="invoicetypecodetype_@fatura_gelen.id" value="@fatura_gelen.invoicetypecodetype" />
                    </td>
                    <td>@fatura_gelen.belgeno
                        <input type="hidden" id="belgeno_@fatura_gelen.id" name="belgeno_@fatura_gelen.id" value="@fatura_gelen.belgeno" />
                    </td>
                    <td>@fatura_gelen.iskontotutar
                        <input type="hidden" id="iskontotutar_@fatura_gelen.id" name="iskontotutar_@fatura_gelen.id" value="@fatura_gelen.iskontotutar" />
                    </td>
                    <td>@fatura_gelen.aratoplam
                        <input type="hidden" id="aratoplam_@fatura_gelen.id" name="aratoplam_@fatura_gelen.id" value="@fatura_gelen.aratoplam" />
                    </td>
                    <td>@fatura_gelen.vergitutar
                        <input type="hidden" id="vergitutar_@fatura_gelen.id" name="vergitutar_@fatura_gelen.id" value="@fatura_gelen.vergitutar" />
                    </td>
                    <td>@fatura_gelen.meblag
                        <input type="hidden" id="meblag_@fatura_gelen.id" name="meblag_@fatura_gelen.id" value="@fatura_gelen.meblag" />
                    </td>
                    <td>@fatura_gelen.doviz
                        <input type="hidden" id="doviz_@fatura_gelen.id" name="doviz_@fatura_gelen.id" value="@fatura_gelen.doviz" />
                    </td>
                    <td>@fatura_gelen.kur_carpani
                        <input type="hidden" id="kur_carpani_@fatura_gelen.id" name="kur_carpani_@fatura_gelen.id" value="@fatura_gelen.kur_carpani" />
                    </td>
                    <td>@fatura_gelen.fatura_notu
                        <input type="hidden" id="fatura_notu_@fatura_gelen.id" name="fatura_notu_@fatura_gelen.id" value="@fatura_gelen.fatura_notu" />
                    </td>
                    <td>@fatura_gelen.olusturma_tarihi
                        <input type="hidden" id="olusturma_tarihi_@fatura_gelen.id" name="olusturma_tarihi_@fatura_gelen.id" value="@fatura_gelen.olusturma_tarihi" />
                    </td>
                    <td class="durum_@fatura_gelen.id">
                        @if (fatura_gelen.durum == 1)
                        {
                            @:<label style="color:springgreen; font:bold 20px; font-size: 120%">Teslim alındı</label>
                        }
                    </td>
                    <td width="15%" class="butonlar_@fatura_gelen.belgeno">
                        <div class="row">
                            <div>
                                <a href="javascript:void(0);" class="GelenFaturaDetay btn btn-success mx-3" data-id="@fatura_gelen.id||||@fatura_gelen.hareketsatirlariobj">Görüntüle ve Teslim Al</a>
                            </div>
                            @*<div>
                                @Html.ActionLink("Görüntüle ve Onayla", "Onayla", new { guid = fatura_gelen.guid, SayfaNo = ViewBag.SayfaNo, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }, new { @class = "btn btn-info mx-4" })
                            </div>*@
                            @*<div>
                                    <button type="button" class="Onay_@fatura_gelen.guid btn btn-info" data-toggle="modal" data-target="#Onay_@fatura_gelen.guid">
                                        Onayla
                                    </button>
                                    <div class="modal fade" id="Onay_@fatura_gelen.guid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Fatura Sil</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>İrsaliyeyi onaylamak istiyor musunuz?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary mx-4" data-dismiss="modal">Vazgeç</button>
                                                    <a href="javascript:void(0);" class="Onayla btn btn-success mx-3" data-id="@fatura_gelen.guid">Onayla</a>
                                                    @Html.ActionLink("Görüntüle ve Onayla", "Onayla", new { guid = fatura_gelen.guid, SayfaNo = ViewBag.SayfaNo, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }, new { @class = "btn btn-info mx-4" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            @Html.PagedListPager(Model, _sayfaNo => Url.Action("GelenFatura", "Fatura", new { SayfaNo = _sayfaNo, searchString = ViewBag.SearchString, sayfaKayitSayisi = ViewBag.SayfaKayitSayisi }))
        </div>
        <div class="col-sm-12 col-md-6">
            <BR>
            Toplam <label id="kayitsayisi" style="font-size:large; color:Highlight">@ViewBag.KayitSayisi</label> kayıt gösteriliyor.
        </div>
    </div>
    <BR>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Gelen Fatura Teslim Alma Ekranı</h4>
                <a href="javascript:void(0);" class="CloseModal btn btn-info" data-dismiss="modal">&times;</a>
            </div>
            <div id='myModalContent' class="modal-body">
                <table id="table12" class="hidden">
                    <tr>
                        <th>Adı</th>
                        <th>Miktarı</th>
                        <th>Fiyatı</th>
                        <th>Tutarı</th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" id ="GelenFaturaTeslimAl" class="GelenFaturaTeslimAl btn btn-success mx-3" data-id="">Teslim Al</a>
                <button type="button" class="CloseModal btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        jQuery.datetimepicker.setLocale('tr');
        $('.date-picker').datetimepicker({
            format: 'd.m.Y H:i',
        });
        var mesaj = "@ViewBag.Mesaj";
        if (mesaj == "Guncellendi")
            toastr_mesaj("Mükellef listesi başarıyla güncellendi.", "success", 3000);
        else if (mesaj == "Guncel")
            toastr_mesaj("Mükellef listesi güncel.", "success", 3000);
        else if (mesaj != "") {
            toastr_mesaj(mesaj, "error", 3000);
        }
        $(".GelenFaturaCek").click(function () {
            debugger;
            toastr_mesaj("Gelen faturalar alınıyor, lütfen bekleyiniz.", "success", 10000);
            var $buttonClicked = $(this);
            $buttonClicked.attr('disabled', true);
            //$buttonClicked.attr('class', 'disabled');
            var id = $buttonClicked.attr('data-id');
            var baslangic = $("#baslangic").val();
            var bitis = $("#bitis").val();
            //var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "POST",
                url: '/Fatura/GelenFatura',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "baslangic": baslangic, "bitis": bitis }),
                datatype: "json",
                success: function (data) {
                    debugger;
                    $("body").html(data);
                    //$buttonClicked.attr('class', 'disabled');
                    $buttonClicked.attr('disabled', false);
                    //if (data.status) {
                    //    alert("kayit sayisi=>" + data.returnvalue);
                    //}
                },
                error: function () {
                    $buttonClicked.attr('disabled', false);
                    alert("Dynamic content load failed.");
                }
            });
        });
        $(document).on('show.bs.modal', '#myModal', function (e) {
            console.log('works');
        });
        $(".GelenFaturaDetay").click(function () {
            debugger;
            var options = { "backdrop": "static", keyboard: true };
            var $buttonClicked = $(this);
            var gelen = $buttonClicked.attr('data-id').split("||||");            
            let data = JSON.parse(gelen[1]); //id ve satır bilgileri alındı.
            var id = gelen[0];
            var sil = $('#guid_' + id).val();
            $('#GelenFaturaTeslimAl').attr('data-id', id + "||||" + $('#guid_' + id).val());
            var gonderen_unvan = $("#gonderen_unvan_" + id).val();
            var gonderen_sehir = $("#gonderen_sehir_" + id).val();
            var fatura_turu = $("#fatura_turu_" + id).val() + "-" + $("#invoicetypecodetype_" + id).val();
            var olusturma_tarihi = $("#olusturma_tarihi_" + id).val();
            var doviz = $("#doviz_" + id).val();
            var kur_carpani = $("#kur_carpani_" + id).val();
            var meblag = $("#meblag_" + id).val();
            var aratoplam = $("#aratoplam_" + id).val();
            var vergitutar = $("#vergitutar_" + id).val();
            var iskontotutar = $("#iskontotutar_" + id).val();
            var fatura_notu = $("#fatura_notu_" + id).val();
            var guid = $("#guid_" + id).val();
            var len = data.length;
            var satirtxt = "";
            var faturatxt = "";
            var buttontxt = "";
            faturatxt += "<table class='table table-bordered' width='100%' cellspacing='0'>"
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Gönderen Ünvanı</td>";
            faturatxt += "  <td>" + gonderen_unvan + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Şehir</td>";
            faturatxt += "  <td>" + gonderen_sehir + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Fatura Türü</td>";
            faturatxt += "  <td>" + fatura_turu + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Fatura Tarihi</td>";
            faturatxt += "  <td>" + olusturma_tarihi + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Döviz Cinsi / Kuru</td>";
            faturatxt += "  <td>" + doviz + "-" + kur_carpani + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Ara Toplam</td>";
            faturatxt += "  <td>" + aratoplam + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Meblağ</td>";
            faturatxt += "  <td>" + meblag + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Vergi Tutarı</td>";
            faturatxt += "  <td>" + vergitutar + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>İskonto</td>";
            faturatxt += "  <td>" + iskontotutar + "</td>";
            faturatxt += " </tr>";
            faturatxt += " <tr>";
            faturatxt += "  <td style='color:Highlight'>Fatura Notu</td>";
            faturatxt += "  <td>" + fatura_notu + "</td>";
            faturatxt += " </tr>";
            faturatxt += "</table>";
            if (len > 0) {
                for (var i = 0; i < len; i++) {
                    if (i == 0) {
                        satirtxt += "<table id='table12' class='table table-bordered table-condensed table-striped'><tr><th>Adı</th><th>Miktarı</th><th>Birim Fiyatı</th><th>KDV Oran/Tutar</th><th>Tevkifat Oran/Tutar</th><th>ÖTV Oran/Tutar</th><th>Tutarı</th><th>Döviz Cinsi</th></tr>";
                    }
                    if (data[i].StokItem) {
                        satirtxt += "<tr><td>" + data[i].StokItem.Adi + "</td><td>" + data[i].Miktar + "</td><td>" + data[i].Fiyat + "</td>";
                        satirtxt += "<td>%" + data[i].Kdv.Oran + "-" + data[i].Kdv.Tutar + "</td><td>%" + data[i].Kdv.TevkifatOrani + "-" + data[i].Kdv.TevkifatTutar + "</td><td>%" + data[i].Kdv.OtvOran + "-" + data[i].Kdv.OtvTutar + "</td><td>" + data[i].Tutar + "</td><td>" + data[i].doviz + "</td></tr > ";
                    }
                }
                if (satirtxt != "")
                    satirtxt += "</table>"
                //if (txt != "") {
                //    $("#table12").append(txt).removeClass("hidden");
                //}
            }
            debugger;
            //var txt = toTable([{ "city": "AMBALA", "cStatus": "Y" }, { "city": "ASANKHURD", "cStatus": "Y" }, { "city": "ASSANDH", "cStatus": "Y" }]);
            //buttontxt = "<a href='javascript:void(0);' class='GelenFaturaOnayla btn btn-success mx-3' data-id='"+ guid +"'>Onayla ve Teslim Al</a>"
            //var txt = toTable(data);
            $('#myModalContent').html(faturatxt + satirtxt + buttontxt);
            $('#myModal').modal(options);
            $('#myModal').modal('show');
        });
        $(".GelenFaturaTeslimAl").click(function () {
            debugger;
            toastr_mesaj("Fatura teslim alınıyor, lütfen bekleyiniz.", "success", 5000);
            var selectedGuids = [];            
            var $buttonClicked = $(this);
            $buttonClicked.attr('disabled', true);
            var gelen = $buttonClicked.attr('data-id').split("||||");       
            var id = gelen[0];
            var guid = gelen[1];
            var durum = "";
            selectedGuids.push(guid);
            $.ajax({
                type: "POST",
                url: '/Fatura/GelenFaturaTeslimAl',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "guids": selectedGuids }),
                datatype: "json",
                success: function (data) {
                    debugger;
                    $("#myModal").modal("hide");
                    if (data[0].status == false) {
                        toastr_mesaj(data[0].errordescription, "error", 0);
                    }
                    if (data[0].status == true) {
                        durum = "<label style='color:springgreen; font:bold 20px; font-size: 120%'>Teslim alındı</label >";
                        $(".durum_" + id).html(durum);
                        toastr_mesaj(data[0].returnvalue, "success", 3000);
                    }
                    $buttonClicked.attr('disabled', false);
                },
                error: function () {
                    $buttonClicked.attr('disabled', false);
                    alert("Dynamic content load failed.");
                }
            });
        });
    });
    //function toTable(json, colKeyClassMap, rowKeyClassMap) {
    //    let tab;
    //    if (typeof colKeyClassMap === 'undefined') {
    //        colKeyClassMap = {};
    //    }
    //    if (typeof rowKeyClassMap === 'undefined') {
    //        rowKeyClassMap = {};
    //    }

    //    const newTable = '<table class="table table-bordered table-condensed table-striped" />';
    //    if ($.isArray(json)) {
    //        if (json.length === 0) {
    //            return '[]'
    //        } else {
    //            const first = json[0];
    //            if ($.isPlainObject(first)) {
    //                debugger;
    //                tab = $(newTable);
    //                const row = $('<tr />');
    //                tab.append(row);
    //                $.each(first, function (key, value) {
    //                    row.append($('<th />').addClass(colKeyClassMap[key]).text(key))
    //                });

    //                $.each(json, function (key, value) {
    //                    const row = $('<tr />');
    //                    $.each(value, function (key, value) {
    //                        row.append($('<td />').addClass(colKeyClassMap[key]).html(toTable(value, colKeyClassMap, rowKeyClassMap)))
    //                    });
    //                    tab.append(row);
    //                });

    //                return tab;
    //            } else if ($.isArray(first)) {
    //                debugger;
    //                tab = $(newTable);

    //                $.each(json, function (key, value) {
    //                    const tr = $('<tr />');
    //                    const td = $('<td />');
    //                    tr.append(td);
    //                    $.each(value, function (key, value) {
    //                        td.append(toTable(value, colKeyClassMap, rowKeyClassMap));
    //                    });
    //                    tab.append(tr);
    //                });

    //                return tab;
    //            } else {
    //                return json.join(", ");
    //            }
    //        }

    //    } else if ($.isPlainObject(json)) {
    //        debugger;
    //        tab = $(newTable);
    //        $.each(json, function (key, value) {
    //            tab.append(
    //                $('<tr />')
    //                    .append($('<th style="width: 20%;"/>').addClass(rowKeyClassMap[key]).text(key))
    //                    .append($('<td />').addClass(rowKeyClassMap[key]).html(toTable(value, colKeyClassMap, rowKeyClassMap))));
    //        });
    //        return tab;
    //    } else if (typeof json === 'string') {
    //        if (json.slice(0, 4) === 'http') {
    //            return '<a target="_blank" href="' + json + '">' + json + '</a>';
    //        }
    //        return json;
    //    } else {
    //        return '' + json;
    //    }
    //};
</script>